
/*----- ESTILOS CLIENTES -----*/
h4{
    max-width: 100% !important;
    font-size:1.25rem !important;
    text-align: center;
}
.clientes{
    padding-left: 2rem;
}
.section__contenido{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}
.tarjeta{
    background-color: rgb(66, 63, 55) !important;
    color:$color-texto;
    justify-content: center;
    width:100% !important;
}

.fila__cards{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
}
.columna__cards{
    padding: 2rem;
}
