/*-----ESTILOS DE LA TIENDA-----*/

.elementos__carrito{
    font-size: 1.1rem;
    color:rgb(66, 63, 55);
    padding: 0.7rem;
    margin: 5px;
    border: solid;
    border-color: rgb(66, 63, 55);
    border-radius: 10px;
    label{
        display: block;
    }
    select{
        color: aliceblue;
        background-color:$color-botones;
        padding: 0.4rem;
        margin: 2px;
        border: solid;
        border-color: gray;
        border-radius: 20px;
        width: 100%;
    }
}
.botones__carrito{ 
    padding: 1rem;
    text-align: center;
    input{
        color: aliceblue;
        background-color:$color-botones ;
        padding: 0.4rem;
        margin: 2px;
        border: solid;
        border-color: gray;
        border-radius: 20px;
    }
}
.section__contenido{
    padding-top: 1rem;
    padding-right: 2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}
.longitud__correo{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 20px;
}
.longitud__textarea{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 20px;
}
textarea:focus{
    background: rgb(226, 222, 222);
    color: black;
}
input:focus{
    background: rgb(226, 222, 222);
    color: black;
}
.estilo__subtitulos--tienda{
    color: #0c0c0c;
    text-align: start;
}

.imagen__cards{
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    max-height: 300px !important;
    width: auto !important;
}

.tarjeta__tienda{
    color:#0c0c0c !important;
    border-radius: 10px !important;
    border: solid !important;
    border-color: #423f37 !important;
    background-color: #e5e5e5 !important;
    color:$color-texto;
}
.fila__cards{
    text-align: center;
    justify-content: center;
    align-items: center;
}