/*-------------HEADER------------*/
.header__logo{
    width: 10rem;
    height: auto;
    margin-top: 0.3rem;
    img{
        width: 80%;
        padding: 1rem;
    }
}
.header__navbar{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    align-content: space-between;
    justify-content: space-between;
    li{
        padding: 0.1rem;
    }
    a{
        font-family: var(--bs-body-font-family);
        text-transform: uppercase;
        color: aliceblue;
        font-size: $tam-fuente;
        background-color: $color-botones;
        padding: 0.2rem;
        margin: 5px;
        border: solid;
        border-color: gray;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
    }    
}

.navbar-brand__modificado{
    color: aliceblue;
}
.nav-link__modificado{
    display: block;
    text-transform: uppercase;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: $tam-fuente;
    background-color: $color-botones;
    padding: 0.2rem;
    margin: 5px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
