/*TIENDA*/

.elementos__carrito{
    font-size: 1.1rem;
    color:rgb(66, 63, 55);
    padding: 0.5rem;
    margin: 5px;
    border: solid;
    border-color: rgb(66, 63, 55);
    border-radius: 20px;
}
.elementos__carrito label{
    display: block;
}
.elementos__carrito select{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
    max-width: 100%;
}
.botones__carrito{ 
    text-align: center;
}
.botones__carrito input{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
}

.section__contenido{
    background-color: rgb(129, 236, 138);
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}

.longitud__correo{
    max-width:100%;
}
.longitud__textarea{
    max-width:100%;
}
@media (min-width:720px) {
    textarea:focus{
        background: rgb(226, 222, 222);
        color: black;
    }
    input:focus{
        background: rgb(226, 222, 222);
        color: black;
    }
}
@media (min-width:992px) {
    .botones__carrito{ 
        text-align: initial;
    }   
}