*:not(img){
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2,h3,h4 {
    font: size 1.5em;
    color: rgb(66, 63, 55);
    text-transform: uppercase;
}
#ul__footer{
    padding-right: 2rem ;
}
.ul__desplazados{
    padding-left: 0rem ;
}
/*-------------HEADER------------*/

.header{
    display: flex;
    background-image: url("../img/encabezado1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    align-content: space-between;
    justify-content: space-between; 
}

.header__logo{
    width: 10rem;
    height: auto;
    margin-top: 0.3rem;
}
.header__logo img{
    width: 80%;
    padding: 1rem;
}
.header__navbar{
    background-image: url("../img/encabezado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    align-content: space-between;
    justify-content: space-between; 
}
.header__navbar--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
}
.header__navbar li{
    padding: 0.1rem;
}
.header__navbar a{
    text-transform: uppercase;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.rem;
    background-color: rgb(55, 189, 55);
    padding: 0.2rem;
    margin: 5px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
.navbar-brand__modificado{
    color: aliceblue;
}
.nav-link__modificado{
    display: block;
    text-transform: uppercase;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.rem;
    background-color: rgb(55, 189, 55);
    padding: 0.2rem;
    margin: 5px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
/*----------FOOTER----------*/
footer{
    display: flex;
    background: rgb(69,96,79);
    background: linear-gradient(90deg, rgba(69,96,79,0.5163107479319853) 15%, rgba(42,45,42,0.9224732129179797) 52%);
    color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    top: -1px;    
}
.footer__flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer__menu{
    list-style-type:none;
    text-align: center;
}

.footer__menu a{
    text-decoration: none ;
}
.footer__credito{
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 5px;
}
.footer img{
    max-width: 8%;
}
.direccion{
    text-align: center;
    font-size: 0.7rem;
}
@media (min-width:720px){
    .footer img{
        max-width: 5%;
    }
    .direccion{
        font-size:0.8rem;
    }
}
@media (min-width:1200px){
    .footer img{
        max-width: 3%;
    }
    .direccion{
        font-size: 1.1rem;
    }
}
