/*TIENDA*/

.elementos__carrito{
    font-size: 1.1rem;
    color:rgb(66, 63, 55);
    padding: 0.7rem;
    margin: 5px;
    border: solid;
    border-color: rgb(66, 63, 55);
    border-radius: 10px;
}
.elementos__carrito label{
    display: block;
}
.elementos__carrito select{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
    max-width: 100%;
}
.botones__carrito{ 
    text-align: center;
}
.botones__carrito input{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
}

.section__contenido{
    background-color: rgb(129, 236, 138);
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}

.longitud__correo{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 20px;
}
.longitud__textarea{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 20px;
}
textarea:focus{
    background: rgb(226, 222, 222);
    color: black;
}
input:focus{
    background: rgb(226, 222, 222);
    color: black;
}

.estilo__subtitulos--tienda{
    color: aliceblue;
}

@media (min-width:992px) {
    .botones__carrito{ 
        text-align: initial;
    }   
}
