
/*----------CONTENIDO ----------*/

.section__organismos{
    background-color: rgb(129, 236, 138);
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}
.section__organismos img{
    max-height: 7rem;
    margin-top: 3rem;
    padding: 0.3rem;
}
.lugar__detrabajo{
    display: none;
}
.img1,.img2,.img3,.img4,.img5{
    width: 100%;
}
.img__carousel{
   padding:2.4rem;
   width: 100%;
   height: auto;
}
@media (max-width:768px){
    .img__organismos{
        display: none;
    }
}
@media (min-width:768px){
    #carousel1{
        display: none;
    }
    #carousel2{
        display: none;
    }
    .img__organismos{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
    }   
    .lugar__detrabajo {
        display: inline-block;
    }
    #pba{
        justify-content: center;
        margin-top:5rem;
        max-width: 100%;
        }
    #caba{
        margin-top: 5rem;
        max-width: 100%;
    }

}
