
/* -----CONTACTO ---- */
.contenedor__contacto{
    align-items: center;
    justify-items: stretch;
    background-image: url(../img/Ingeniero-ambiental.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.section__contacto{
    padding: 1rem;
    line-height: 1.8rem;
    text-align: center;
}
.contenedor__contacto h4{
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
}
h4{
    color: aliceblue;
}

.elementos__formulario{
    font-size: 1.1rem;
    color:rgb(66, 63, 55);
    padding: 0.5rem;
    border: solid;
    border-color: rgb(66, 63, 55);
    border-radius: 20px;
    width: 15rem;
}
.elementos__formulario label{
    display: block;
    color: aliceblue;
    padding: 0.4rem;
}
.elementos__formulario select{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
}
.botones__formulario input{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
}
#asesoramiento{
    max-width: 100%;
}

@media (min-width:720px){
    .section__contacto{
        text-align: justify;
    }
    .elementos__formulario{
        width: 25rem;
    }
    h4{
        color: rgb(66, 63, 55);
    }
}
