body{
    display: grid;
    grid-template-areas:
    "header"
    "section"
    "footer";
    grid-template-columns: 5fr ;
}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
}
/* -----CONTACTO ---- */
.contenedor__contacto{
    grid-area: section;
    grid-template-areas: "h4 h4"
    "h4 h4" "contacto ingenieros" "contacto ingenieros";
    align-items: center;
    justify-items: stretch;
    background-image: url(./img/Ingeniero-ambiental.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.section__contacto{
    grid-area: contacto;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}
.contenedor__contacto h4{
    grid-area:h4;
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
}

.elementos__formulario{
    font-size: 1.1rem;
    color:rgb(66, 63, 55);
    padding: 0.5rem;
    margin: 5px;
    border: solid;
    border-color: rgb(66, 63, 55);
    border-radius: 20px;
    width: 15rem;
}
.elementos__formulario label{
    display: block;
    color: aliceblue;
    padding: 0.4rem;
}
.elementos__formulario select{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
}
.botones__formulario input{
    color: aliceblue;
    background-color:rgb(55, 189, 55) ;
    padding: 0.4rem;
    margin: 2px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
}
@media (min-width:320px){
    .contenedor__contacto{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.2fr 2fr;
        grid-template-areas:"h4 h4" "contacto ingenieros" "contacto ingenieros" ;
        align-items: center;
        justify-items: stretch;
    }
    .ingenieros__trabajando{
        background-color:rgb(129, 236, 138);
        grid-area: ingenieros;
    }
    .ingenieros__trabajando img{
        max-width: 90%;
        opacity: 1;
    }
    .ingenieros__trabajando div{
        margin-top: 7rem;
    }
    .elementos__formulario{
        width: 25rem;
    }
}
