body{
    display: grid;
    grid-template-areas:
    "header"
    "section"
    "footer";
    grid-template-columns: 5fr ;
}
header{
    grid-area: header;
}

footer{
    grid-area: footer;
}
/*----------CONTENIDO ----------*/

.section__organismos{
    grid-area: section;
    background-color: rgb(129, 236, 138);
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}
.section__organismos img{
    max-height: 7rem;
    padding: 2.6rem;
    margin-top: 3rem;
}
.img__organismos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside{
    display: none;
}
.contenedorFlex{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

/* ----- ASIDE-----*/
@media (min-width:320px){
    .contenedorFlex{
        grid-template-areas: 
        "section__organismos lugar__detrabajo"
        "section__organismos lugar__detrabajo";
        align-items: stretch;
        justify-items: center;
        background-color: rgb(129, 236, 138);
    }
    .section__organismos{
        grid-area: section__organismos;
        }
    .lugar__detrabajo {
        display: grid;
        grid-area: lugar__detrabajo;
        grid-template-areas: "pba"
        "caba";
        align-items: inherit;
    }
    #pba{
        grid-area: pba;
        justify-content: center;
        max-height: 50%;
        margin-top:2rem;
        margin-left: 3rem;
        margin-bottom: 5rem;
        margin-right: 5rem;
        }
    #caba{
        grid-area: caba;
        margin-top: 2rem;
        margin-left: 3rem;
        margin-bottom: 5rem;
        max-width:60%;
        margin-right: 2rem;
    }
    .img__organismos{
        flex-direction: row;
        justify-content:space-evenly;
    }   
}
